* {
	margin: 0;
	padding: 0;
}

/*COLORS---------------------------------------------*/

:root {
/*Primary*/
	--color-very-dark-blue: hsl(233, 47%, 7%);
	--color-dark-desaturated-blue: hsl(245, 39%, 16%);
	--color-soft-violet: hsl(277, 64%, 61%);

/*Neurtral*/
	--color-white-heading: hsl(0, 0%, 100%);
	--color-trans-white-paragraph: hsla(0, 0%, 100%, 0.75);
	--color-trans-white-stat-heading: hsla(0, 0%, 100%, 0.6);

/*Fonts*/
	--font-family-Inter: 'Inter', sans-serif;
	--font-family-Lexend: 'Lexend Deca', sans-serif;
}




/*BODY---------------------------------------------*/

body {
	font-size: 15px;
	height: 100vh;
}

.page-wrapper {
	background: var(--color-very-dark-blue);
	display: flex;
	height: 100%;
}

/*MAIN-CONTAINER---------------------------------------------*/
.main-container {
	flex: 0 0 auto;
	margin: auto;
	width: 940px;
	height: 350px;
	display: flex;
	border-radius: 5px;
	background: var(--color-dark-desaturated-blue);
}

.left-side {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding-left: 3em;
	margin-right: 3em;
}

.information {
	font-family: var(--font-family-Inter);
	padding-right: 50px;
}

.information h1 {
	font-size: 30px;
	line-height: 34px;
	letter-spacing: 1.5px;
	color: var(--color-white-heading);
}

.information p {
	margin-top: 20px;
	letter-spacing: .1px;
 	font-size: 13px;
 	padding-right: 35px;
 	line-height: 21px;
	color: var(--color-trans-white-paragraph);

}

.stats>* {
	padding: 0 50px;
}

.numbers {
	padding-left: 0;
	padding-right: 60px;
}

.numbers p {
	font-family: var(--font-family-Lexend);
	text-transform: uppercase;
	font-size: 11px;
	color: var(--color-trans-white-paragraph);


}

.numbers h2 {
	font-family: var(--font-family-Inter);
	font-size: 21px;
	margin-bottom: 4px;
	color: var(--color-white-heading);
}

.stats {
	display: flex;
	align-items: stretch;

}

.right-side {
	display: flex;
	background: var(--color-soft-violet);
	border-radius: 0 5px 5px 0;
}

.insights {
	color: var(--color-soft-violet);
}

img {
	border-radius: 0 5px 5px 0;
	opacity: 0.48;
}

/*LEFT-SIDE---------------------------------------------*/






/*INFORMATION---------------------------------------------*/





/*STATS---------------------------------------------*/





/*RIGHT-SIDE---------------------------------------------*/
